#back{
  display: flex;
  font-weight: bolder;
  font-size: 2.3rem;
  cursor: pointer;
  color: gray;
}

#content-title{
  display: flex;
  font-weight: bolder;
  font-size: 2.3rem;
}

#content-id{
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  padding-top: 10px;
}


#video{
  margin-top: 20px;
  display: flex;
  /* width: 70%; */

}

#content{
  font-size: 15px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px 5px 5px 5px ;
  height: 400px;
  text-align: left;
  padding: 1rem;
  overflow : auto;
}

.btn.btn-primary{
  font-size: small;
  height: 30px;
  width: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
  display: center;
  
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
  font-family: 'Pretendard-Medium';
}

.ck.ck-toolbar.ck-toolbar_grouping{
    background-color:rgb(184, 182, 182);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(66, 66, 66));
    border-radius: 10px 10px 10px 10px;
  }

::-webkit-scrollbar-track {
display: none;
}

.viewBox{
  display: inline-block;
  width: 100%;
  padding: 50px auto;
  flex: auto;
}

#write-input-container{
  white-space: pre-wrap;
}