.fc *{
    /* color: rgb(26, 26, 165); */
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* .fc *:hover{
    color : white;
} */

.fc-event-title:hover {
    cursor: pointer;
}

.fc-event-title{
    color: white;
}

.fc-event {
    background-color: rgba(255, 118, 118, 1);
    border-color: rgba(255, 118, 118, 1);
}

.calendar_css{
    display: inline-block;
    width: 100%;
    padding: 50px auto;
    flex: auto;
}