.content-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
  justify-content: space-around;
}
.video_items{
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    display: center;
    justify-content: center;
    align-items: center;
    flex: auto;
  
}
/* 
.item{
  min-height: 200px;
  flex-basis: 150px;
  flex-grow: 1;
} */
