

#content.form-control{
    margin-top: 15px;
    border: 2px solid   #008CBA;
    font-weight: bold;
    font-size: 15px;

}
  
  #write{
    width: 80%;
    margin: 0 auto;
    display: center;
    justify-content: center;
    align-items: center;
    flex: auto;
  }
  
  .title-input {
    width: -webkit-fill-available;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(184, 182, 182);
    display: flex;
    flex: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-family: 'Pretendard-Medium';
  
  }
  
  .submit-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding: auto;
    border: none;
    background: rgba(255, 118, 118, 1);
    border-radius: 5px;
    margin-top: 10px;
    vertical-align: middle;
    font-family: 'Pretendard-Medium';
    margin-bottom: 40px;
  }
  
  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 400px;
    font-family: 'Pretendard-Medium';
  }
  
  .ck.ck-toolbar.ck-toolbar_grouping{
      background-color:rgb(184, 182, 182);
    }

    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #eeeeee;
      border-radius: 5px;
    }
     
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(rgb(66, 66, 66));
      border-radius: 10px 10px 10px 10px;
    }

::-webkit-scrollbar-track {
  display: none;
}