.button{

    background-color: white;
    color: black;
    border: 2px solid  #008CBA;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    font-family: 'Pretendard-Medium';
    font-weight: bold;
    font-size: 15px;
}

#content.form-control{
    margin-top: 15px;
    border: 2px solid   #008CBA;
    font-weight: bold;
    font-size: 15px;

}
/* 
#form1{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;

}

#editor{
    width: 80%;
}

  .form-wrapper{
    width: auto;
    margin: 0 auto;
  }
  
  .title-input {
    width: 400px;
    height: 40px;
    margin: 10px;
    font-family: 'LeferiPoint-WhiteA';

  }
  
  .text-area {
    width: 80%;
    min-height: 400px;
    font-family: 'LeferiPoint-WhiteA';
 
  }
  
  .submit-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    /* padding: 20px; */
    /* border: none;
    background: rgba(69, 69, 248, 0.748);
    border-radius: 5px;
    font-family: 'LeferiPoint-WhiteA';
    font-weight: bold; */
    /* font-display: ; */

  /* }
  .ck.ck-reset, .ck.ck-reset_all, .ck.ck-reset_all * {
      background-color: darkgray;
  } */ 


  
  .form-wrapper{
    width: 80%;
    margin: 0 auto;
    display: center;
    flex: auto;
  }
  
  .title-input {
    width: -webkit-fill-available;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 70px;
    border: none;
    background-color: rgb(184, 182, 182);
    display: flex;
    flex: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-family: 'Pretendard-Medium';
  
  }
  
  .submit-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding: auto;
    border: none;
    background: rgba(255, 118, 118, 1);
    border-radius: 5px;
    margin-top: 15px;
    vertical-align: middle;
    font-family: 'Pretendard-Medium';
  }
  
  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 450px;
    font-family: 'Pretendard-Medium';
  }
  
  .ck.ck-toolbar.ck-toolbar_grouping{
      background-color:rgb(184, 182, 182);
    }
