  .video_content{
    display: flex;

  }

  #grid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items:center;
    /* margin-top: 6%;
    margin-bottom: 6%; */
    padding: 5%;
  }
  
  .video_item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link{
    text-decoration: none;
    margin-top: 30px;
  }
  .video_title{
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: black;
    text-decoration-color: black;
    font-size: 1.1rem;
  }
  .video_date{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: gray;

  }
  .videoCard_thubmnail{
    margin-bottom: 5px;
    margin-top: 10px;
    height: 270px;
  width: 270px;
    /* box-shadow: 5px 5px 5px rgb(160, 160, 160); */
  }
