
.videoCard_thubmnail{
  height: 270px;
  width: 270px;
};

.video_title{
  color: rgba(49, 141, 251, 1);
  font-weight: bold;
  font-size: 20pt;
};
.video_viewcount_timestamp{
  color:rgb(151, 151, 151);
  font-weight: normal;
  font-size: 10pt;
};