  .video_content{
    display: flex;

  }

  #grid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items:center;
    /* margin-top: 6%;
    margin-bottom: 6%; */
    padding: 5%;
  }
  
  .video_item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link{
    text-decoration: none;
    margin-top: 30px;
  }

  .video_title{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: black;
    text-decoration-color: black;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .video_date{
    display: flex;
    margin-left: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: gray;
    font-size: 13px;
  }
  .videoCard_thubmnail{
    margin-bottom: 5px;
    margin-top: 10px;
    height: 300px;
    width: 320px;
  }
  #videoListBox:hover{
    transform: scale(1.08);
    background-color: rgba(238, 238, 238, 1);
  }
  #videoListBox{
    transition: all 0.4s ease;
    margin: "0.3rem";
    padding: "0.2rem";
    width: 300px;
  }
