@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

#logo {
    
    display: flex;
    flex: auto;
    justify-content: left;
   
    
}


#signup_css{
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
}

#login_css{
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
}

#search_css{
    display: flex;
    flex-wrap: nowrap;   
}
