@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#nav_container {
    display: flex;
    flex: auto;
    font-family: 'Pretendard-Medium';
    justify-content: center;
    align-items: center;
    
    
}

.nav{
    font-family: 'Pretendard-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 85px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 13px 13px 0px 0px;
    border-bottom: 0px;
    margin: 0.4rem;
    margin-bottom: 0%;
    box-shadow: 2px 1px 2px rgb(160, 160, 160);
    
}

.menu {
    flex: none;
    font-size: 14px;
    font-weight: 800;


}


/* #menu {
    flex: none;
    font-size: 16px;
    font-weight: 500;
    
} */
/* 
.nav .blue{
    background-color: rgb(65, 65, 219);
} */

/* .clicked{
    background-color: rgb(65, 65, 219);
} */

/* .nav:checked + label{
    background-color: rgb(65, 65, 219);
} */