@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#nav_container {
    display: flex;
    flex: auto;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;


}

.n1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    text-align: center;
    margin: 0.4rem;
    font-size: small;
    text-decoration-line: none;;
    

}
.n2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    margin: 0.4rem;
    font-size: small;
    text-transform: auto;
}

.n3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    margin: 0.4rem;
    font-size: small;
    text-align: auto;
}

.n4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    text-align: auto;
    margin: 0.4rem;
    font-size: small;
}

.n5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    margin: 0.4rem;
    font-size: small;
    text-align: auto;
}

.n6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    text-align: center;
    margin: 0.4rem;
    font-size: small;

}

.a{
    text-decoration: none;
}

